:root {
  --color0: #f0f0dc;
  --color1: #fac800;
  --color2: #10c840;
  --color3: #00a0c8;
  --color4: #d24040;
  --color5: #a0694b;
  --color6: #736464;
  --color7: #101820;
}

.fc0 {
   color: var(--color0);
}
.fc1 {
   color: var(--color1);
}
.fc2 {
   color: var(--color2);
}
.fc3 {
   color: var(--color3);
}
.fc4 {
   color: var(--color4);
}
.fc5 {
   color: var(--color5);
}
.fc6 {
   color: var(--color6);
}
.fc7 {
   color: var(--color7);
}
.bg0 {
   background-color: var(--color0);
}
.bg1 {
   background-color: var(--color1);
}
.bg2 {
   background-color: var(--color2);
}
.bg3 {
   background-color: var(--color3);
}
.bg4 {
   background-color: var(--color4);
}
.bg5 {
   background-color: var(--color5);
}
.bg6 {
   background-color: var(--color6);
}
.bg7 {
   background-color: var(--color7);
}
