* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  --1color: #322619;
  --2color: #175d62;
  --3color: #3cc27b;
  --4color: #e5c687;
  --0color: #c5bfaf;
  --5color: #ffffff;
}

.mobile-hide {
  display: none;
}

a:link {
  display: inline;
  font-size: inherit;
  color: #bc52bb;
}

a:visited {
  font-size: inherit;
  color: #ac223b;
}

.material-icons {
  font-size: 125%;
  display: inline-flex;
  vertical-align: bottom;
}

body {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  background-color: var(--2color);
  font-family: 'Roboto', sans-serif;
}

.menu-box {
  text-decoration:none;
  display: block;
}

leftpane {
  position: fixed;
  height: 10vh;
  width: 100vw;
}

leftpane .menu-box{
  position: absolute;
  z-index: -2;
  top: 0vw;
  height: 12vw;
  width: 100vw;
  transition: opacity 0.3s;
  opacity: 1;
  background-color: none;
}

leftpane h1 {
  float: left;
  margin-top: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  color: var(--2color);
  background-color: var(--3color);
  border-radius: 0.3vw;
  opacity: 1;
  padding-left: 1vh;
  padding-right: 2vh;
  font-size: 5vw;
  font-weight: bold;
}

#Anicet, #Nougaret {
  opacity: 0.7;
  padding-top: 0.5vh; padding-bottom: 0.5vh;
  float: right;
}

#Anicet {
  margin-right: 2vw;
}

#barres {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  color: var(--2color);
  border-radius: 0.3vh;
}

#open-menu {
  font-size: 8vw;
}

#page-title {
  letter-spacing: -0.1vw;
  font-size: 5vw;
  vertical-align: 1vw;
}

#nav-box {
  margin-top: -100vh;
  position: fixed;
  top: 12vw;
  left: 0;
  width: 40vw;
  height: auto;
  background-color: var(--3color);
  border-radius: 0.3vh;
  box-shadow: 0 0 1vw var(--2color);
}

#barres:hover {
  opacity: 1;
}

#barres:hover > #nav-box {
  margin-top: 0vh;
}

leftpane li {
  display: inline;
}

leftpane .menu-button {
  float: left;
  text-align: left;
  text-decoration: none;
  transition: opacity 0s;
  background-color: rgba(0, 0, 0, 0);
  color: var(--2color);
  opacity: 0;
  position: relative;
  width: 40.1vw;
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-top-left-radius: 0.3vh;
  border-bottom-left-radius: 0.3vh;
  height: auto;
  font-weight: bolder;
}

leftpane .menu-button h2 {
  font-size: 4.5vw;
}

#barres:hover .menu-button {
  transition: opacity 0s;
  opacity: 1;
}

leftpane .menu-button:hover {
  border-left: solid 1vw var(--4color);
  background-color: var(--2color);
  color: var(--4color);
}

.sub {
  box-shadow: 0vw 0 1vw var(--2color);
  transition: margin-left 1s, opacity 0.3s;
  opacity: 0;
  position: absolute;
  background-color: var(--2color);
  top: 0vw;
  left: 40vw;
  width: fit-content;
  height: auto;
  margin-top: -100vh;
  border-radius: 0.3vh;
}

.sub-button h3 {
  background-color: none;
  color: var(--4color);
  text-decoration: none;
  padding-left: 2vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-weight: bold;
  font-size: 4.5vw;
}

leftpane a:hover {
  text-decoration: none;
}

.sub-button:hover h3 {
  background-color: var(--3color);
  color: var(--5color);
}

leftpane li:hover .sub, .sub:hover {
  transition: margin-left 0.2s, opacity 0.1s;
  margin-top: 0vh;
  opacity: 1;
}

rightpane {
  z-index: -16;
  position:absolute;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  height: fit-content;
  padding-top: 7vw;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--3color);
}

.articles {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.article-category {
  margin-bottom: 7vw;
}

.article-category-title {
  margin-left: 2vw;
  font-size: 7vw;
  color: var(--2color);
  font-weight: bolder;
  border-radius: 0.3vh;
  /*background-color: var(--2color);*/
  padding: 10vw 1vw 1vw 1vw;
  margin-bottom: 10vw;
  font-weight: 900;
}

.article-body {
  margin-bottom: 10vw;
}

.article-title {
  padding: 1vw 1.5vw 1vw 1.5vw;
  margin-left: -1vw;
  font-size: 4vw;
  color: var(--4color);
  border-left: solid 1vw var(--4color);
  box-shadow: 0vw 0 1vw var(--2color);
  max-width: calc(100% + 1vw);
  width: max-content;
  font-weight: bolder;
  border-radius: 0.3vh;
  line-height: 5vw;
  background-color: var(--2color);
}

.article-content {
  background-color: var(--0color);
  border-bottom: solid 1vw var(--2color);
  border-radius: 0.3vh;
  padding: 1vw 1vw 2vw 2vw;
  margin-bottom: 3vw;
  color: var(--2color);
  font-weight: 500;
  line-height: 6vw;
  font-size: 4vw;
}

* p {
  color: inherit;
  font-weight: inherit;
  border-radius: inherit;
  line-height: inherit;
  font-size: inherit;
}

.article-vignette {
  position: relative;
  margin-bottom: 3vw;
}

.article-vignette img {
  border-radius: 0.3vh;
  width: 100%;
  filter: none;
}

.picture-shadow {
  box-shadow: 0 0 1vw var(--2color);
}

.table-container {
  margin-top: 2vh;
  background-color: var(--2color);
  border-left: solid 1vw var(--4color);
  border-bottom: solid 1vw var(--2color);
  box-shadow: 0 0 1vw var(--2color);
}

td {
  position: relative;
  background-color: var(--0color);
  color: var(--2color);
  font-weight: bolder;
  padding: 2vw 2vw 2vw 2vw;
  font-size: 3vw;
}

.table-container.right-handed td {
  border-right: solid 0.2vw var(--2color);
}

.table-container.right-handed .table-category {
  border-right: none;
}

.table-container.bottom-handed td {
  border-bottom: solid 0.2vw var(--2color);
}

.table-container.bottom-handed .table-category {
  border-bottom: none;
}

td .material-icons {
  font-size: 3vh;
}

.table-category {
  background-color: var(--2color);
  color: var(--4color);
}

.lighter {
  background-color: #cfc3b3;
}
.table-category.lighter {
  background-color: #1b6167;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2.3rem;
}

.hover-desc {
  display: none;
  position: absolute;
  top: 80%;
  left: 20%;
  max-width: 40vh;
  width: max-content;
  font-size: 3vw;
  padding: 1vw 1vw 1vw 1vw;
  border-bottom: solid 1vw var(--0color);
  color: var(--0color);
  border-radius: 0.3vh;
  background-color: var(--2color);
  box-shadow: 0 0 1vw var(--1color);
}

*:hover>.hover-desc {
  z-index: 100;
  display: block;
}
