/* Balise leftpane
Sert à englober l'interface supperposée fixe du site (menu, titre)
*/

leftpane {
  position: fixed;
  width: 40vh;
}

leftpane h1 {
  float: left;
  margin-top: 2vh;
  margin-left: 2vh;
  padding-left: 2vh;
  color: var(--2color);
  background-color: var(--3color);
  border-radius: 0.3vh;
  opacity: 1;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 7vh;
  font-weight: bold;
}

leftpane a:hover {
  text-decoration: none;
}

/* Éléments du titre de la page, (visibles qu'en mode paysage)
*/

#Anicet {
  font-weight: bold;
}

#Nougaret {
  margin-bottom: 3vh;
}
