/* Balise rightpane
Contient tout le contenu de la page qui peut être parcouru de haut en bas et qui
prend le plus de place dans la page.
*/

rightpane {
  z-index: -16;
  position: absolute;
  left: 40vh;
  width: calc(100vw - 40vh);
  height: fit-content;
  padding-top: 7vh;
  background-color: var(--3color);
}
