/* Classe articles
Correspond à la div qui contient tous les articles d'une page.
*/

.articles {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
}

/* Classe article-category
Correspond à un groupe d'articles
*/

.article-category {
  margin-bottom: 20vw;
}

/* Classe article-category-title
Correspond au gros titre d'une catégorie d'articles
*/

.article-category-title {
  margin-left: 2vw;
  font-size: 7vw;
  color: var(--2color);
  font-weight: bolder;
  border-radius: 0.3vh;
  padding: 10vw 1vw 1vw 1vw;
  margin-bottom: 10vw;
  font-weight: 900;
}

/* Classe article
Correspond à un seul article
*/

.article {
  margin-bottom: 8vw;
}

/* Classe article-title
Correspond à un titre dans un article
*/

.article-title {
  padding: 1vw 1.5vw 1vw 1.5vw;
  margin-left: -1vw;
  margin-bottom: 3vw;
  font-size: 4vw;
  color: var(--4color);
  border-left: solid 1vw var(--4color);
  box-shadow: 0vw 0 1vw var(--2color);
  max-width: calc(100% + 1vw);
  width: max-content;
  font-weight: bolder;
  border-radius: 0.3vh;
  line-height: 5vw;
  background-color: var(--2color);
}

/* Classe article-content
Correspond à une boite de texte d'un article
*/

.article-content {
  background-color: var(--0color);
  border-bottom: solid 1vw var(--2color);
  border-radius: 0.3vh;
  padding: 1vw 1vw 2vw 2vw;
  margin-bottom: 3vw;
  color: var(--2color);
  font-weight: 500;
  line-height: 6vw;
  font-size: 4vw;
}

/* Classe article-vignette
Correspond à une illustration d'un article
*/

.article-vignette {
  position: relative;
  margin-bottom: 3vw;
}

.article-vignette img {
  border-radius: 0.3vh;
  width: 100%;
  filter: none;
}

/* Classe picture-shadow
Définit si une balise a une ombre (prévue pour les .article-vignette)
Utile car certaines images ont un fond transparent et ne devraient donc pas
être ombragées.
*/

.picture-shadow {
  box-shadow: 0 0 1vw var(--2color);
}
