.form-container {
  box-shadow: 0 0 1vw var(--2color);
  background-color: var(--2color);
  border-left: solid 1vw var(--4color);
  border-radius: 0.3vh;
  padding: 3vw 3vw 3vw 3vw;
  color: var(--4color);
  font-weight: 500;
  line-height: 4.1vw;
  font-size: 2.8vw;
  margin-bottom: 3vw;
}

form legend {
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 0.3vh;
  margin-right: 2vw;
  color: var(--4color);
  font-weight: 700;
  line-height: 4.1vw;
  font-size: 5vw;
  margin-bottom: 3vw;
}

form label {
  position: relative;
  text-align: right;
  width: 30%;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 0.3vh;
  margin-right: 2vw;
  color: var(--0color);
  font-weight: 500;
  line-height: 4.1vw;
  font-size: 4vw;
}

form .meta-label {
  text-align: left;
  margin-top: 3vh;
  margin-bottom: 1vh;
  width: max-content;
  font-size: 3vw;
  color: var(--3color);
}

form label span.astérisque {
  font-size: 3vw;
  margin-left: 1vw;
  vertical-align: super;
  color: var(--3color);
}

form input, form textarea, form select {
  position: relative;
  border: none;
  border-radius: 0.3vh;
  padding: 1vw 2vw 1vw 2vw;
  background-color: var(--0color);
  color: var(--2color);
  font-weight: 500;
  line-height: 4.1vw;
  font-size: 4.1vw;
  margin-bottom: 3vw;
}

form input {
  width: 60%;
}

form input:focus, form textarea:focus, form select:focus {
  background-color: var(--4color);
}

form textarea {
  width: 100%;
  min-height: 15vh;
  font-size: 4vw;
}

form button {
  border: none;
  float: right;
  padding: 2vw 3vw 2vw 3vw;
  border-radius: 0.3vh;
  margin-right: 2vw;
  margin-top: 3vw;
  background-color: var(--2color);
  color: var(--4color);
  border-left: solid 1vw var(--4color);
  box-shadow: 0vh 0 1vw rgba(0,0,50,0.5);
  font-weight: 500;
  line-height: 4.1vw;
  font-size: 4vw;
}

form button:hover {
  background-color: var(--4color);
  color: var(--2color);
}

form button:active {
  transform: scale(1.1);
}

form button .material-icons {
  vertical-align: middle;
  font-size: 4vw;
}
