/* Classe hover-desc
Zone de text qui s'affiche au niveau d'une balise lorsqu'elle est :hover ou
:active et servant, par exemple, à donner des descriptions d'image.
*/

.hover-desc {
  transition: opacity 1s;
  opacity: 0;
  text-align: left;
  padding: 0.5vw 0.5vw 0.5vw 2vw;
  position: absolute;
  background-color: var(--0color);
  color: var(--2color);
  background-image: none;
  border-bottom: solid 1vw var(--2color);
  box-shadow: 0vh 0 1vw rgba(0,0,50,0.5);
  border-radius: 0.3vh;
  max-width: 50vw;
  width: max-content;
  font-weight: normal;
  height: auto;
  top: 0%;
  left: 0%;
  font-size: 3.5vw;
  z-index: -100;
}

.hover-desc {
  transition: opacity 0s;
}

.hover-desc p {
  line-height: 3.5vw;
  margin-bottom: 1vw;
}

/* Classes de positionnement des hover-desc
Sert à indiquer la position relative au parent du hover-desc dans l'HTML directement.
*/

.hover-desc.outside-top {top: -10%;}
.hover-desc.outside-left {left: -10%;}

.hover-desc.outside-bottom {top: 25%;}
.hover-desc.outside-right {left: 25%;}

.hover-desc.inside-top {top: 10%;}
.hover-desc.inside-left {left: 10%;}

.hover-desc.more-inside-top {top: 25%;}
.hover-desc.more-inside-left {left: 25%;}

.hover-desc.super-inside-top {top: 80%;}
.hover-desc.super-inside-left {left: 80%;}

/* Différents mécanismes d'ouverture des hover-desc
*/

*:hover > .hover-desc, *:active > .hover-desc {
  transition: opacity 0.5s;
  z-index: 100;
  opacity: 1;
}

/* Classe adjacent
Un .hover-desc.adjacent n'est pas activé par le :hover de son parent, mais par
le :hover de la balise adjacente. Utile pour afficher le hover-desc au-dessus
ou dans un coin.
*/

/* Désactive l'affichage par le parent */
*:hover > .hover-desc.adjacent, *:active > .hover-desc.adjacent {
  transition: opacity 0.5s;
  z-index: -100;
  opacity: 0;
}

/* Active l'affichage par la balise adjacente */
*:hover + .hover-desc.adjacent, *:active + .hover-desc.adjacent {
  transition: opacity 0.5s;
  z-index: 100;
  opacity: 1;
}
