/* Balise leftpane
Sert à englober l'interface supperposée fixe du site (menu, titre)
*/

leftpane {
  position: fixed;
  height: 10vh;
  width: 100vw;
}

leftpane h1 {
  float: left;
  margin-top: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  color: var(--2color);
  background-color: var(--3color);
  border-radius: 0.3vw;
  opacity: 1;
  padding-left: 1vh;
  padding-right: 2vh;
  font-size: 5vw;
  font-weight: bold;
}

leftpane a:hover {
  text-decoration: none;
}

/* Éléments du titre du site (visibles qu'en mode paysage)
*/

#Anicet, #Nougaret {
  display: none;
}

/* Classe page_title (visible qu'en mode portrait)
Titre de la page (acceuil, blog...)
*/

.page-title {
  letter-spacing: -0.1vw;
  font-size: 5vw;
  vertical-align: 0.3vw;
}
