.table-container {
  margin-top: 2vh;
  background-color: var(--2color);
  border-left: solid 1vw var(--4color);
  border-bottom: solid 1vw var(--2color);
  box-shadow: 0 0 1vw var(--2color);
}

.table-container td {
  position: relative;
  background-color: var(--0color);
  color: var(--2color);
  font-weight: bolder;
  padding: 2vw 2vw 2vw 2vw;
  font-size: 3vw;
}

.table-container.right-handed td {
  border-right: solid 0.2vw var(--2color);
}

.table-container.right-handed .table-category {
  border-right: none;
}

.table-container.bottom-handed td {
  border-bottom: solid 0.2vw var(--2color);
}

.table-container.bottom-handed .table-category {
  border-bottom: none;
}

.table-container td .material-icons {
  font-size: 3vh;
}

td.table-category {
  background-color: var(--2color);
  color: var(--4color);
}

td.lighter {
  background-color: #cfc3b3;
}

td.table-category.lighter {
  background-color: #1b6167;
}
