/* Classe table-container
Correspond à la div englobant tout le tableau
*/

.table-container {
  margin-top: 2vh;
  background-color: var(--2color);
  border-left: solid 1vw var(--4color);
  border-bottom: solid 1vw var(--2color);
  box-shadow: 0 0 1vw var(--2color);
}

/* Classe right-handed
Un .table-container.right-handed est un tableau orienté vers la droite qui se lit
de haut en bas et ensuite de droite à gauche.
*/

.table-container.right-handed td {
  border-right: solid 0.2vw var(--2color);
}

.table-container.right-handed .table-category {
  border-right: none;
}

/* Classe bottom-handed
Un .table-container.bottom-handed est un tableau orienté vers le bas qui se lit
de droite à gauche et ensuite de haut en bas.
*/

.table-container.bottom-handed td {
  border-bottom: solid 0.2vw var(--2color);
}

.table-container.bottom-handed .table-category {
  border-bottom: none;
}

/* Style des cases des tableaux */
td {
  position: relative;
  background-color: var(--0color);
  color: var(--2color);
  font-weight: bolder;
  padding: 2vw 2vw 2vw 2vw;
  font-size: 3vw;
}

/* Classe table-category
Case qui correspond à un titre de colonne ou de rangée.
*/

td.table-category {
  background-color: var(--2color);
  color: var(--4color);
}

/* Classe lighter
Case éclaircie pour renforcer le contraste et donc faciliter la lecture
*/

td.lighter {
  background-color: #cfc3b3;
}

td.table-category.lighter {
  background-color: #1b6167;
}

/* Style des icônes dans les balises <td> */
td .material-icons {
  font-size: 3vh;
}
